<div *ngFor='let currentRecipe of childRecipeList'>
<h3 (click)="viewRecipe(currentRecipe)" [class]="difficultyColor(currentRecipe)">{{currentRecipe.title}} : {{currentRecipe.difficulty}}</h3>
<div *ngIf="selectedTitle === currentRecipe">
  <p>Ingredients:</p>
  <ul>
    <li *ngFor='let ingredient of currentRecipe.ingredients'>{{ingredient}}</li>
  </ul>
  <p>Directions:</p>
  <ul>
    <li>{{currentRecipe.directions}}</li>
  </ul>
  <br>
  <button (click)="editRecipe(currentRecipe)">Edit!</button>
</div>
</div>
<app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()"><app-edit-recipe>
