<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Recipe Box
  </h1>
  <h2>{{currentFocus}}</h2>
  <h2>{{userName}}</h2>
  <form>
    <input [(ngModel)]="userName" type="text" name="user">
  </form>
  <div *ngFor='let currentRecipe of recipes'>
  <h3 [class]="difficultyColor(currentRecipe)">{{currentRecipe.title}}</h3>
  <ul>
    <li *ngFor='let ingredient of currentRecipe.ingredients'>{{ingredient}}</li>
  </ul>
  <ul>
    <li>{{currentRecipe.directions}}</li>
  </ul>
  <br>
  <button (click)="editRecipe(currentRecipe)">Edit!</button>
</div>
<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.title}}</h3>
  <h3>Edit Title of Recipe</h3>
  <label>Enter Recipe Title:</label>
  <input [(ngModel)]='selectedRecipe.title'><br>
  <label>Enter recipe difficulty (1 or 2):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" [value]="1">1 (Low Difficulty)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" [value]="2">2 (Moderate Difficulty)
  <button (click)="finishedEditing()">Done</button>
</div>
