<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Recipe Box
  </h1>
  <h2>{{currentFocus}}</h2>

  <div *ngFor='let currentRecipe of recipes'>
  <h3 (click)="viewRecipe(currentRecipe)" [class]="difficultyColor(currentRecipe)">{{currentRecipe.title}} : {{currentRecipe.difficulty}}</h3>
  <div *ngIf="selectedTitle === currentRecipe">
    <p>Ingredients:</p>
    <ul>
      <li *ngFor='let ingredient of currentRecipe.ingredients'>{{ingredient}}</li>
    </ul>
    <p>Directions:</p>
    <ul>
      <li>{{currentRecipe.directions}}</li>
    </ul>
    <br>
    <button (click)="editRecipe(currentRecipe)">Edit!</button>
  </div>
</div>
<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.title}}</h3>
  <h3>Edit Recipe</h3>
  <label>Enter Recipe directions:</label>
  <input [(ngModel)]='selectedRecipe.directions'><br>
  <label>Enter Recipe ingredients:</label>
  <input [(ngModel)]='selectedRecipe.ingredients[selectedRecipe.ingredients.length - 1]'><button (click)=addIngredient(selectedRecipe.ingredients)>Add An Ingedient</button><br>
  <label>Enter recipe difficulty (1 or 2):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" [value]="1">1 (Low Difficulty)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.difficulty" [value]="2">2 (Moderate Difficulty)
  <button (click)="finishedEditing()">Done</button>
</div>
